<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dz.islem.automotive">

    <uses-permission android:name="android.car.permission.CAR_SPEED" />
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN" />
    <uses-permission android:name="android.car.permission.CAR_ENERGY"/>
    <uses-permission android:name="android.car.permission.CAR_ENERGY_PORTS"/>
    <uses-permission android:name="android.car.permission.CAR_INFO"/>
    <uses-permission android:name="android.car.permission.CAR_EXTERIOR_ENVIRONMENT"/>

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="false"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarUi.WithToolbar">

        <activity android:name=".ui.main.MainActivity" >
            <!-- This allows the app to run when the car is moving. Use it carefully. -->
            <!--
            <meta-data android:name="distractionOptimized" android:value="true" />
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.setting.SettingsActivity"/>

    </application>

</manifest>